<!DOCTYPE html>
<html>
<head>
    <title>Tweet List</title>
</head>
<body>

<h2>All Tweets by Nahid</h2>

<a href="{% url 'twitcreate' %}">Create New Tweet</a>
<hr>

{% for tweet in tweets %}
    <div>
        <p>{{ tweet.content }}</p>

        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" width="200">
        {% endif %}

        <p>By {{ tweet.author.username }} | {{ tweet.created_at }}</p>

        {% if tweet.author == user %}
            <a href="{% url 'twitedit' tweet.id %}">Edit</a>
            <a href="{% url 'twitdelete' tweet.id %}">Delete</a>
        {% endif %}
    </div>
    <hr>
{% empty %}
    <p>No tweets found</p>
{% endfor %}

</body>
</html>
